<div class="container">

	<%= render "devise/shared/error_messages", resource: resource %>

	<div class="row justify-content-center">
		<div class="col-md-8 mx-auto sign-up-box">

	    	<h3 class="text-center title">住所を登録</h3>
	    	<div class="form-group">
		        <%= form_for @user, url: user_registration_path do |f| %>
					<%= f.hidden_field :nick_name %>
					<%= f.hidden_field :last_name %>
					<%= f.hidden_field :first_name %>
					<%= f.hidden_field :last_name_read %>
					<%= f.hidden_field :first_name_read %>
					<%= f.hidden_field :phone_number %>
					<%= f.hidden_field :email %>
					<%= f.hidden_field :password %>

					<div class="field">
						<span>郵便番号(ハイフンなし)</span><br />
						<%= f.text_field :postcode, autofocus: true, autocomplete: "postcode", placeholder: "7桁の郵便番号をハイフンなしで入力", class: "form-control" %>
					</div>

					<div class="">
						<span>都道府県</span><br />
						<%= f.text_field :prefecture_code, collection: JpPrefecture::Prefecture.all, :value_method => :name, include_blank: '都道府県', placeholder: "東京都", class: "form-control" %><br>
					</div>

					<div class="field">
						<span>市区町村</span><br />
						<%= f.text_field :address_city, autofocus: true, autocomplete: "address_city", placeholder: "渋谷区", class: "form-control" %>
					</div>

					<div class="field">
						<span>番地</span><br />
						<%= f.text_field :address_street, autofocus: true, autocomplete: "address_street", placeholder: "神南◯ー◯ー◯", class: "form-control" %>
					</div>

					<div class="field">
						<span>建物名</span><br />
						<%= f.text_field :address_building, autofocus: true, autocomplete: "address_building", placeholder: "◯◯ビル", class: "form-control" %>
					</div>

					<div class="actions text-center">
						<div class="sign-up-btn">
							<%= f.submit "戻る", name: 'back', class: "btn btn-outline-primary" %>
							<%= f.submit "登録", class: "btn btn-danger" %>
						</div>
					</div>
		        <% end %>
	        </div>
    	</div>
	</div>
</div>