<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 mx-auto sign-up-box">

      <h3 class="text-center title">アカウントを作成</h3>
      <div class="form-group">
        <%= form_for(resource, as: resource_name, url: {action: 'address_registration'}, html: {method: "get"}) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <div class="form_title">ニックネーム</div>
            <%= f.text_field :nick_name, autofocus: true, autocomplete: "nick_name", placeholder: "クオレレ太郎",required: :true, class: "form-control" %>
          </div>

          <div class="field">
            <div class="form_title">お名前(全角)</div>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "鈴木",required: :true, class: "form-control" %>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "太郎",required: :true, class: "form-control" %>
          </div>

          <div class="field">
            <div class="form_title">お名前カナ(全角)</div>
            <%= f.text_field :last_name_read, autofocus: true, autocomplete: "last_name_read", placeholder: "スズキ",required: :true, class: "form-control" %>
            <%= f.text_field :first_name_read, autofocus: true, autocomplete: "first_name_read", placeholder: "タロウ",required: :true, class: "form-control" %>
          </div>

          <div class="field">
            <div class="form_title">電話番号</div>
            <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder: "xxx-xxxx-xxxx",required: :true, class: "form-control" %>
          </div>

          <div class="field">
            <div class="form_title">メールアドレス</div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "xxx@xx.xx",required: :true, class: "form-control" %>
          </div>

          <div class="field">
            <div class="form_title">パスワード</div>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上",required: :true, class: "form-control" %>
          </div>

          <div class="field">
            <div class="form_title">確認用パスワード</div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワードをもう一度入力",required: :true, class: "form-control" %>
          </div>

          <div class="actions text-center">
            <%= f.submit "次へ進む", class: "btn btn-outline-success" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>