<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3><%= @user.nick_name %>さんの募集一覧</h3>
		</div>
	</div>
	<div class="row">
		<% @user.buy_posts.order(updated_at: :desc).each do |buy_post| %>
			<div class="col-md-3">
				<%= link_to buy_post_path(buy_post) do %>
				<div class="buy_post_card">
					<div>
						<%= attachment_image_tag buy_post, :image, :fill, 245, 245, format:'jpeg', fallback: "no_image.jpg", size: '245x245' %>
					</div>
					<div>
						<%= buy_post.title %>
					</div>
					<div>
						<%= buy_post.brand %>
					</div>
					<div>
						<span>予算：¥
						<%= converting_comma(buy_post.maximum_price) %>
						まで</span>
					</div>
				</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>