<div class="container">
	<div class="row">
		<div class="col-md-10 mx-auto user-content-rb">
			<h3 class="text-center title">いいねした募集一覧</h3>
			<table class="table table-hover">
				<thead>
					<th class="text-center"></th>
					<th class="text-center align-middle">タイトル</th>
					<th class="text-center align-middle">上限金額</th>
					<th class="text-center align-middle">ステータス</th>
				</thead>
				<% if @favorites.present? %>
					<% @favorites.each do |favorite| %>
						<tr data-href="<%= buy_post_path(favorite.buy_post.id) %>" class="yubi favorites_table">
							<td class="text-center fti">
								<%= attachment_image_tag favorite.buy_post, :image, :fill, 70, 70, format:'jpeg', fallback: "no_image.jpg", size: '70x70' %>
							</td>
							<td class="text-center align-middle ftt">
								<span><%= favorite.buy_post.title %></span>
							</td>
							<td class="text-center align-middle">
								<span>
									¥<%= converting_comma(favorite.buy_post.maximum_price) %>まで
								</span>
							</td>
							<td class="text-center align-middle">
								<% if favorite.buy_post.status == "募集中" %>
									<span class="btn btn-success btn-sm">
										<%= favorite.buy_post.status %>
									</span>
								<% else %>
									<span class="btn btn-danger btn-sm">
										<%= favorite.buy_post.status %>
									</span>
								<% end %>
							</td>
						</tr>
					<% end %>
				<% else %>
					<tr>
						<td colspan="4" class="text-center">
							<span>いいねした募集はありません</span>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>