<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-3">
			<div class="user-content-l">
				<table class="table table-hover user-content-l">
					<tbody>
						<tr>
							<td data-href="<%= user_favorites_path(@user) %>" class="yubi">
								いいね一覧
							</td>
						</tr>
						<tr>
							<td data-href="<%= user_buy_posts_path(@user) %>" class="yubi">
								投稿一覧
							</td>
						</tr>
						<tr>
							<td data-href="<%= user_offers_path(@user) %>" class="yubi">
								投稿したオファー
							</td>
						</tr>
						<tr>
							<td data-href="<%= edit_user_path(@user) %>" class="yubi td-end">
								基本情報変更
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-8">
			<div class="user-content-r">
				<div class="text-center">
					<%= attachment_image_tag @user, :image, format:'jpeg', fallback: "no_image.jpg" %>
					<p><%= @user.nick_name %>さん</p>
				</div>
				<div class="text-center">
					投稿数：<%= current_user.buy_posts.count %><br>
					オファー数：<%= current_user.offers.count %>
				</div>
			</div>
			<div class="user-content-rb">
				<div class="introduction">
					<% if @user.introduction.nil? %>
						<p>自己紹介文はありません</p>
					<% else %>
						<p><%= simple_format(@user.introduction) %></p>
					<% end %>
				</div>
				<div class="text-right">
					<%= link_to user_profile_edit_path(current_user), class: "btn btn-success" do %>
						<i class="fas fa-edit fa-1x"></i>
						<span>プロフィールを編集</span>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>