<div class="container">
	<div class="row">
		<div class="col-md-10 mx-auto user-content-rb">
			<h3 class="text-center title">投稿したオファー</h3>
			<table class="table table-hover">
				<thead>
					<th class="text-center"></th>
					<th class="text-center">タイトル</th>
					<th class="text-center">オファー金額</th>
					<th class="text-center">ステータス</th>
					<th class="text-center">オファー先のステータス</th>
				</thead>
				<% if @user.offers.present? %>
					<% @user.offers.each do |offer| %>
						<tr data-href="<%= offer_path(offer) %>" class="yubi">
							<td class="text-center">
								<%= attachment_image_tag offer, :image, :fill, 70, 70, format:'jpeg', fallback: "no_image.jpg", size: '70x70' %>
							</td>
							<td class="text-center">
								<span>
									<%= offer.title %>
								</span>
							</td>
							<td class="text-center">
								<span>
									¥<%= converting_comma(offer.price) %>
								</span>
							</td>
							<td class="text-center">
								<% if offer.trade.nil? %>
									なし
								<% else %>
									<% if offer.trade.status == "取引完了" %>
										<span class="btn btn-danger btn-sm">
											<%= offer.trade.status %>
										</span>
									<% else %>
										<span class="btn btn-success btn-sm">
											取引中
										</span>
									<% end %>
								<% end %>
							</td>
							<td class="text-center">
								<% if offer.buy_post.status == "募集中" %>
									<span class="btn btn-success btn-sm">
										<%= offer.buy_post.status %>
									</span>
								<% else %>
									<span class="btn btn-secondary btn-sm">
										<%= offer.buy_post.status %>
									</span>
								<% end %>
							</td>
						</tr>
					<% end %>
				<% else %>
					<tr>
						<td colspan="4" class="text-center">
							<span>投稿した募集はありません</span>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>