<div class="container">
	<div class="row">
		<div class="col-md-10 mx-auto user-content-rb">
			<h3 class="text-center title">取引一覧</h3>

			<div class="wrap">
				<ul id="tab-menu" class="clearfix">
					<li><a href="#tab1" class="active">取引中</a></li>
					<li><a href="#tab2" class="">完了待ち</a></li>
					<li><a href="#tab3" class="">取引完了</a></li>
				</ul>

				<div id="tab-contents" class="clearfix">
					<div id="tab1" class="tab">
						<table class="table table-hover trades_table">
							<thead>
								<th class="text-center tti"></th>
								<th class="text-center ttt align-middle">タイトル</th>
								<th class="text-center tts align-middle"></th>
								<th class="text-center align-middle">ステータス</th>
							</thead>
							<% if @trading.present? %>
								<% @trading.each do |trade_user_record| %>
									<tr data-href="<%= trade_path(trade_user_record.trade) %>" class="yubi">
										<% if trade_user_record.side == "buy" %>
											<td class="text-center">
												<%= attachment_image_tag trade_user_record.trade.offer.buy_post, :image, :fill, 70, 70, format:'jpeg', fallback: "no_image.jpg", size: '70x70' %>
											</td>
											<td class="text-center align-middle">
												<span>
													<%= trade_user_record.trade.offer.buy_post.title %>
												</span>
											</td>
											<td class="text-center align-middle">
												<span class="btn btn-outline-primary btn-sm">
													募集側
												</span>
											</td>
											<td class="text-center align-middle">
												<span class="btn btn-success btn-sm">
													<%= trade_user_record.trade.status %>
												</span>
											</td>
										<% else %>
											<td class="text-center">
												<%= attachment_image_tag trade_user_record.trade.offer, :image, :fill, 70, 70, format:'jpeg', fallback: "no_image.jpg", size: '70x70' %>
											</td>
											<td class="text-center align-middle">
												<span>
													<%= trade_user_record.trade.offer.title %>
												</span>
											</td>
											<td class="text-center align-middle">
												<span class="btn btn-outline-danger btn-sm">
													オファー側
												</span>
											</td>
											<td class="text-center align-middle">
												<span class="btn btn-success btn-sm">
													<%= trade_user_record.trade.status %>
												</span>
											</td>
										<% end %>
									</tr>
								<% end %>
							<% else %>
								<tr>
									<td colspan="4" class="text-center align-middle each-nil">
										<span>取引中の取引はありません</span>
									</td>
								</tr>
							<% end %>
						</table>
					</div>
					<div id="tab2" class="tab">
						<table class="table table-hover trades_table">
							<thead>
								<th class="text-center tti"></th>
								<th class="text-center ttt align-middle">タイトル</th>
								<th class="text-center tts align-middle"></th>
								<th class="text-center align-middle">ステータス</th>
							</thead>
							<% if @waiting_complete.present? %>
								<% @waiting_complete.each do |trade_user_record| %>
									<tr data-href="<%= trade_path(trade_user_record.trade) %>" class="yubi">
										<% if trade_user_record.side == "buy" %>
											<td class="text-center">
												<%= attachment_image_tag trade_user_record.trade.offer.buy_post, :image, :fill, 70, 70, format:'jpeg', fallback: "no_image.jpg", size: '70x70' %>
											</td>
											<td class="text-center align-middle">
												<span>
													<%= trade_user_record.trade.offer.buy_post.title %>
												</span>
											</td>
											<td class="text-center align-middle">
												<span class="btn btn-outline-primary btn-sm">
													募集側
												</span>
											</td>
											<td class="text-center align-middle">
												<span class="btn btn-warning btn-sm">
													<%= trade_user_record.trade.status %>
												</span>
											</td>
										<% else %>
											<td class="text-center">
												<%= attachment_image_tag trade_user_record.trade.offer, :image, :fill, 70, 70, format:'jpeg', fallback: "no_image.jpg", size: '70x70' %>
											</td>
											<td class="text-center align-middle">
												<span>
													<%= trade_user_record.trade.offer.title %>
												</span>
											</td>
											<td class="text-center align-middle">
												<span class="btn btn-outline-danger btn-sm">
													オファー側
												</span>
											</td>
											<td class="text-center align-middle">
												<span class="btn btn-warning btn-sm">
													<%= trade_user_record.trade.status %>
												</span>
											</td>
										<% end %>
									</tr>
								<% end %>
							<% else %>
								<tr>
									<td colspan="4" class="text-center align-middle each-nil">
										<span>完了待ちの取引はありません</span>
									</td>
								</tr>
							<% end %>
						</table>
					</div>
					<div id="tab3" class="tab">
						<table class="table table-hover trades_table">
							<thead>
								<th class="text-center tti"></th>
								<th class="text-center ttt align-middle">タイトル</th>
								<th class="text-center tts align-middle"></th>
								<th class="text-center align-middle">ステータス</th>
							</thead>
							<% if @traded.present? %>
								<% @traded.each do |trade_user_record| %>
									<tr data-href="<%= trade_path(trade_user_record.trade) %>" class="yubi">
										<% if trade_user_record.side == "buy" %>
											<td class="text-center">
												<%= attachment_image_tag trade_user_record.trade.offer.buy_post, :image, :fill, 70, 70, format:'jpeg', fallback: "no_image.jpg", size: '70x70' %>
											</td>
											<td class="text-center align-middle">
												<span>
													<%= trade_user_record.trade.offer.buy_post.title %>
												</span>
											</td>
											<td class="text-center align-middle">
												<span class="btn btn-outline-primary btn-sm">
													募集側
												</span>
											</td>
											<td class="text-center align-middle">
												<span class="btn btn-secondary btn-sm">
													<%= trade_user_record.trade.status %>
												</span>
											</td>
										<% else %>
											<td class="text-center">
												<%= attachment_image_tag trade_user_record.trade.offer, :image, :fill, 70, 70, format:'jpeg', fallback: "no_image.jpg", size: '70x70' %>
											</td>
											<td class="text-center align-middle">
												<span>
													<%= trade_user_record.trade.offer.title %>
												</span>
											</td>
											<td class="text-center align-middle">
												<span class="btn btn-outline-danger btn-sm">
													オファー側
												</span>
											</td>
											<td class="text-center align-middle">
												<span class="btn btn-secondary btn-sm">
													<%= trade_user_record.trade.status %>
												</span>
											</td>
										<% end %>
									</tr>
								<% end %>
							<% else %>
								<tr>
									<td colspan="4" class="text-center align-middle each-nil">
										<span>完了した取引はありません</span>
									</td>
								</tr>
							<% end %>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
$('#tab-contents .tab[id != "tab1"]').hide();

$('#tab-menu a').on('click', function() {
  $("#tab-contents .tab").hide();
  $("#tab-menu .active").removeClass("active");
  $(this).addClass("active");
  $($(this).attr("href")).show();
  return false;
});
</script>