<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mx-auto login-box">
      <h3 class="text-center">ログイン</h3>
      <div class="form-group">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス",required: :true, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード",required: :true, class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions text-center">
            <%= f.submit "ログイン", class: "btn btn-outline-success" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
