<div class="container">

	<% if @offer.errors.any? %>
		<div class="row">
			<div class="col-md-8 mx-auto">
				<div id="error_explanation" class="alert alert-danger">
					<ul>
						<% @offer.errors.full_messages.each do |message| %>
				 			<li><%= message %></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	<% end %>

	<div class="row">
		<div class="col-md-8 mx-auto">
			<div class="offer_detail offer-new">
				<h3 class="text-center">オファーを作成</h3>
				<%= form_for @offer do |f| %>
					<div class="off-detail">
						<div class="off-list">
							<span>オファータイトル</span><br>
							<%= f.text_field :title, autofocus: true, placeholder: "オファータイトルを入力", required: :true, class: "form-control" %>
						</div>
						<div class="off-list">
							<span>画像</span><br>
							<%= f.attachment_field :image %><br>
						</div>
						<div class="off-list">
							<span>オファー価格</span><br>
							<div class="input-group">
								<div class="input-group-prepend">
		  							<sapn class="input-group-text">¥</sapn>
								</div>
								<%= f.number_field :price, autofocus: true, placeholder: "価格を入力", required: :true, class: "form-control" %>
							</div>
						</div>
						<div class="off-list">
							<span>状態</span><br>
							<%= f.select :condition, Offer.conditions.keys, autofocus: true, :prompt => "選択してください", required: :true, class: "form-control" %><br>
						</div>
						<div class="off-list">
							<span>オファー内容の説明</span><br>
							<%= f.text_area :comment, autofocus: true, placeholder: "説明文を入力", required: :true, class: "form-control discription" %>
						</div>
						<div class="off-list">
							<span>公開する範囲</span><br>
							<%= f.select :public_status, Offer.public_statuses.keys, autofocus: true, :prompt => "選択してください", required: :true, class: "form-control" %><br>
						</div>
					</div>
					<div class="text-center middle-btn">
						<%= f.submit "オファーする", class: "btn btn-danger" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
	  var $textarea = $('.discription');
	  var lineHeight = parseInt($textarea.css('lineHeight'));
	  $textarea.on('input', function(e) {
	    var lines = ($(this).val() + '\n').match(/\n/g).length;
	    $(this).height(lineHeight * lines);
	  });
	});
</script>