<div class="container">
	<div class="buy_post_index">

		<% if user_signed_in? %>
			<%= link_to new_buy_post_path, class: "buy_post_new_link" do %>
				<div class="buy_post_new_btn">
					<div class="text-center buy_post_new_btn_con">
						<h4 class="">投稿</h4>
						<i class="far fa-clipboard index-item fa-4x"></i>
					</div>
				</div>
			<% end %>
		<% else %>
			<%= link_to new_user_session_path, class: "buy_post_new_link" do %>
				<div class="buy_post_new_btn">
					<div class="text-center buy_post_new_btn_con">
						<h4 class="">投稿</h4>
						<i class="far fa-clipboard index-item fa-4x"></i>
					</div>
				</div>
			<% end %>
		<% end %>

		<div class="row justify-content-center">
			<div class="col-md-4 search_box">
				<%= search_form_for(@search, url: root_path) do |f| %>
					<%= f.search_field :title_or_comment_or_brand_cont, :placeholder => "検索ワードを入力", class: "form-control d-inline", style:"width:280px" %>
					<%= f.submit "検索", class: "btn btn-primary mb-1" %>
				<% end %>
			</div>
		</div>

		<div class="buy_posts_box a-none">
			<h3>新着投稿</h3>
			<div class="row">
				<% @buy_posts.order(updated_at: :desc).each do |buy_post| %>
					<div class="col-md-3">
						<%= link_to buy_post_path(buy_post), data: {"turbolinks" => false} do %>
						<div class="buy_post_card">
							<div class="buy_post_i">
								<% if buy_post.status == "募集終了" %>
									<h2 class="buy-post-end text-center">
										募集終了
									</h2>
								<% end %>
								<%= attachment_image_tag buy_post, :image, format:'jpeg', fallback: "no_image.jpg" %>
							</div>
							<div class="buy_post_text">
								<%= buy_post.title %>
							</div>
							<div class="buy_post_text">
								<span>予算：¥
								<%= converting_comma(buy_post.maximum_price) %>
								まで</span>
							</div>
						</div>
						<% end %>
					</div>
				<% end %>
			</div>
			<div class="row">
				<div class="mx-auto paginate-box">
					<%= paginate @buy_posts, theme: 'twitter-bootstrap-4' %>
				</div>
			</div>
		</div>
	</div>
</div>