<div class="container">
	<% if @trade.status == "取引完了" %>
		<div class="row justify-content-center trade-notice">
			<div class="col-md-10 mx-auto">
				<h3 class="text-center">
					取引が完了しました。<br>
					この度はクオレレのご利用ありがとうございました。
				</h3>
			</div>
		</div>
	<% elsif @trade.status == "完了待ち" %>
		<div class="row justify-content-center trade-notice">
			<div class="col-md-10 mx-auto">
				<% if @trade.trade_users.find_by(finish_status: true).user_id == current_user.id %>
					<h3 class="text-center">
						完了ボタンを押しました。<br>
						取引相手が完了ボタンを押すまで<br>
						今しばらくお待ちください。
					</h3>
				<% else %>
					<h3 class="text-center">
						取引相手が完了ボタンを押しました。<br>
						内容に問題がなければ完了ボタンを<br>
						押して取引を完了してください。
					</h3>
				<% end %>
			</div>
		</div>
	<% end %>
	<div class="row justify-content-center trade_contents">
		<div class="col-md-3">
			<div class="text-center trade_partner_title">
				<h6>取引のお相手</h6>
			</div>
			<div class="trade_partner">
				<%= link_to user_path(@trade.trade_users.where.not(user_id: current_user.id).find_by(trade_id: @trade.id).user.id) do %>
					<div class="text-center">
						<%= attachment_image_tag @trade.trade_users.where.not(user_id: current_user.id).find_by(trade_id: @trade.id).user, :image, format:'jpeg', fallback: "no_image.jpg" %><br>
						<%= @trade.trade_users.where.not(user_id: current_user.id).find_by(trade_id: @trade.id).user.nick_name %>
						さん
					</div>
				<% end %>
				<div class="text-center">
					<%= @trade.trade_users.where.not(user_id: current_user.id).find_by(trade_id: @trade.id).user.prefecture_code %>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="trade_comment_box">
				<div class="trade_comment_detail">
					<% @trade.trade_messages.each do |message| %>
						<div>
							<%= attachment_image_tag message.user, :image, format:'jpeg', fallback: "no_image.jpg" %>
							<%= message.user.nick_name %>
						</div>
						<div class="trade_comment">
							<%= simple_format(message.message) %>
						</div>
						<div class="text-right trade_comment_time">
							<%= simple_time(message.created_at) %>
						</div>
					<% end %>
				</div>
				<div class="trade_comment_post">
					<%= form_for @message, url: trade_messages_path do |f| %>
						<%= f.text_area :message, placeholder: "ここに取引メッセージを入力", class: "form-control" %>
						<div class="text-right">
							<%= f.submit "送信", class: "btn btn-success" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 mx-auto">
			<div class="text-center middle-btn">
				<% if @trade.status == "取引完了" %>
					<button class="btn btn-lg btn-secondary" disabled>
						取引完了
					</button>
				<% else %>
					<% if @trade.trade_users.find_by(user_id: current_user.id).finish_status == false %>
						<%= link_to "取引を完了する", trade_user_path(@trade.trade_users.find_by(user_id: current_user.id)), method: :patch, class: "btn btn-lg btn-danger" %>
					<% else %>
						<button class="btn btn-lg btn-secondary" disabled>
							完了待ち
						</button>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row justify-content-center trade_detail">
		<div class="col-md-10">
			<table class="table">
				<thead>
					<tr>
						<th class="trade_detail_head"></th>
						<th class="trade_detail_post">募集内容</th>
						<th class="trade_detail_offer">オファー内容</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>タイトル：</th>
						<td  data-href="<%= buy_post_path(@trade.offer.buy_post) %>" class="yubi"><%= @trade.offer.buy_post.title %></td>
						<td  data-href="<%= offer_path(@trade.offer) %>" class="yubi"><%= @trade.offer.title %></td>
					</tr>
					<tr>
						<th>ブランド：</th>
						<td  data-href="<%= buy_post_path(@trade.offer.buy_post) %>" class="yubi"><%= @trade.offer.buy_post.brand %></td>
						<td></td>
					</tr>
					<tr>
						<th>希望上限価格：</th>
						<td  data-href="<%= buy_post_path(@trade.offer.buy_post) %>" class="yubi">¥<%= converting_comma(@trade.offer.buy_post.maximum_price) %>まで</td>
						<td  data-href="<%= offer_path(@trade.offer) %>" class="yubi">¥<%= converting_comma(@trade.offer.price) %></td>
					</tr>
					<tr>
						<th>希望する最低限の状態：</th>
						<td  data-href="<%= buy_post_path(@trade.offer.buy_post) %>" class="yubi"><%= @trade.offer.buy_post.condition %></td>
						<td  data-href="<%= offer_path(@trade.offer) %>" class="yubi"><%= @trade.offer.condition %></td>
					</tr>
					<tr>
						<th>コメント：</th>
						<td  data-href="<%= buy_post_path(@trade.offer.buy_post) %>" class="yubi"><%= simple_format(@trade.offer.buy_post.comment) %></td>
						<td  data-href="<%= offer_path(@trade.offer) %>" class="yubi"><%= simple_format(@trade.offer.comment) %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>